<a href="https://colab.research.google.com/github/hmchaina/Coursera/blob/main/copy_of_tuple_exercise_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1 Create myTuple tuple with the follwoing values ("NPower","JDA","Tuesday",30,31,2021)

myTuple = ("NPower","JDA","Tuesday",30,3,2021)
myTuple

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

In [ ]:
#Q2 What is the type of myTuple
print(type(myTuple))

<class 'tuple'>

In [ ]:
#Q3 What is the length of myTuple
print(len(myTuple))

6

In [ ]:
#Q4 print the values in each index #Use regular indexing
print(myTuple[:6])

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

In [ ]:
#Q5 print the values in each index #Use negative indexing 
print(myTuple[-7:-1])

('NPower', 'JDA', 'Tuesday', 30, 3)

In [ ]:
#Q6 what is the type of each value
res = list(map(type, myTuple))
res

[str, str, str, int, int, int]

In [ ]:
#Q7 unpack myTuple in the follwoeing variables name,program,dayName,month,day,year
# print the variables 
(name,program,dayName,month,day,year)=myTuple
print(name)
print(program)
print(dayName)
print(month)
print(day)
print(year)

NPower
JDA
Tuesday
30
3
2021

In [ ]:
#Q8 unpack myTuple2 in the follwoeing variables name,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)

In [ ]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements
Tuple2=("Ulan",)#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value
a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)
d=Tuple2
print(type(d))
print(d)
e=test
print(e)

Type a <class 'str'>
Jerry 2 89
<class 'tuple'>
('Ulan',)
Leul

In [ ]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory
#and hold a different information
testTuple=(1,2,3)
print(testTuple)
testTuple=(4,5,6)
print(testTuple)
#But we can't change or edit a value for the existing tuple
testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Q9 Reverse myTuple, output should looks like (2021,3,30,"Tuesday","JDA","NPower")
myTuple[::-1]

In [ ]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
A=("Coursera","course",6)
B=("week")
C=(2,"Lists","Tuple")

nestedTuple = (A, B, C)
nestedTuple

(('Coursera', 'course', 6), 'week', (2, 'Lists', 'Tuple'))

In [ ]:
#Q11 What is the output of nestedTuple[1:2]
nestedTuple[1:2]

('week',)

In [ ]:
#Q12 print each element in the nestedTuple
nestedTuple

(('Coursera', 'course', 6), 'week', (2, 'Lists', 'Tuple'))

In [ ]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple
nestedTuple[2]

(2, 'Lists', 'Tuple')

In [ ]:
#Q14 Access the value "Lists" from nestedTuple
nestedTuple[2][1]

'Lists'

In [ ]:
#Q15 Access the value "Tuple" from nestedTuple
nestedTuple[2][2]

'Tuple'

In [ ]:
#Q16 Access the value "course" from nestedTuple
nestedTuple[0][1]

'course'

In [ ]:
#Q17 Concatenate myTuple with nestedTuple
myTuple=myTuple+nestedTuple
myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 'week',
 (2, 'Lists', 'Tuple'))

In [ ]:
#Q18 add your name to the tuple
name=(('Kowcika'))
newTuple=(myTuple,name)
newTuple

(('NPower',
  'JDA',
  'Tuesday',
  30,
  3,
  2021,
  ('Coursera', 'course', 6),
  'week',
  (2, 'Lists', 'Tuple')),
 'Kowcika')

In [ ]:
#Q19 check whether Coursera exists within myTuple
# NOTE "in" doesn't work properly with nested tuples

In [ ]:
#Q20 check whether 55 exists within testTuple
testTuple=(1,2,33,55,6,55)
number=55
for number in testTuple:
     print("Number exists")
     break;

Number exists

In [ ]:
#Q21 Find the index of JDA in newTuple
# Find the index of 'Coursera' in newTuple
# NOTE index doesn't work properly with nested tuples # Wrong output
newTuple.index('JDA')
newTuple.index('Coursera')

ValueError: tuple.index(x): x not in tuple

In [ ]:
#Q22 print index 8 from newTuple
newTuple[8]

IndexError: tuple index out of range

In [ ]:
#Q23 Get the 4th element from the begining of myTuple and 4th element from last 
print(newTuple[0][3])
print(newTuple[0][8][0])

30
2

In [ ]:
#Q24 Find how many times 55 appeared in testTuple [Hint: Use method count()]
testTuple.count(55)

2